.clients {
  background-color: $background-gray-color;
  color: $background-dark-color;
  .clients-container__flex-items-for-title {
    padding-top: 70px;
    .flex-item-for-title {
      &__title {
        margin-bottom: 1px;
        @include title-style($font-family, 2.5rem, 600, $background-dark-color);
      }
    }
  }
  .clients-container__flex-item {
    column-gap: 39px;
    row-gap: 20px;
    .flex-item__logo {
      max-width: 187px;
      align-self: center;
      img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 2560px) {
  .clients-container__flex-item {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media screen and (min-width: 670px) and (max-width: 2560px) {
  .clients-container__flex-item {
    padding: 60px;
  }
}
@media screen and (max-width: 1280px) {
  .clients-container {
    padding: 30px;
  }
}
@media screen and (max-width: 768px) {
  .clients-container__flex-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}

@media screen and (max-width: 670px) {
  .clients-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    &__flex-item {
      padding: 30px;
    }
  }
}
