.clients {
  background-color: $background-gray-color;
  color: $background-dark-color;
  .clients-container__flex-items-for-title {
    padding-top: 70px;
    .flex-item-for-title {
      &__title {
        margin-bottom: 1px;
        @include title-style($font-family, 2.5rem, 600, $background-dark-color);
      }
    }
  }
  .flex-item-for-title__underline {
    margin-bottom: 68px;
  }
  
  .clients-container__flex-item {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 40px;
    justify-content: center;
    .flex-item__logo {
      max-width: 187px;
      align-self: center;
      img {
        width: 100%;
      }
    }
  }
}
.clients-container__flex-item::after {
  content: "";
  display: block;
  height: 80px; 
}

@media screen and (max-width: 1280px) {
  .clients .clients-container .clients-container__flex-item {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center; 
    align-items: center; 
    padding: 30px;
  }
}

@media screen and (max-width: 768px) {
  .clients-container__flex-items-for-title .flex-item-for-title__title{
    display: flex;
    justify-content: center;
  }
  .red-underline{
    margin: 0 auto;
  }
  .clients .clients-container .clients-container__flex-item  {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}

@media screen and (max-width: 425px) {
  .clients .clients-container .clients-container__flex-item  {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(10, 1fr);
    justify-items: center; 
    align-items: center; 
    column-gap: 15px;
    row-gap: 15px;
  }
}

