@import "../template";
@import "../vars";

$menu-width: 647px;

.wrapper {
  background: linear-gradient(193deg, #1f1f1f 0%, #131313 100%);
}
.container {
  min-height: 678px;
}
.header {
  max-height: 60px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
    justify-content: space-between;
    width: $menu-width;
    margin-top: 1.25rem;
    list-style: none;
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    font-family: $font-family;
    font-size: 1rem;
    &:hover {
      color: $accent-color-hover;
    }
  }
}

.burger {
  display: none;
  &__icon {
    width: 80px;
    height: 80px;
  }
}
.section {
  display: flex;
  flex-wrap: wrap;

  &__column {
    &--left {
      max-width: 719px;
      align-content: center;
    }

    &--right {
      max-width: 521px;
    }
  }

  &__subtitle {
    font-family: $font-family;
    font-weight: 400;
    color: #fff;
    font-size: 1.25rem;
    margin-bottom: 10px;
  }

  &__title {
    font-family: $font-family;
    font-weight: 600;
    font-size: 3rem;
    color: #fff;
    margin-bottom: 1px;
  }

  &__title-line {
    stroke-width: 5px;
    stroke: #a21420;
    margin-bottom: 20px;
  }

  &__paragraph {
    font-family: $font-family;
    font-weight: 400;
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 20px;
  }

  &__button {
    width: 280px;
    height: 67px;
    border-radius: 10px;
    border: none;
    background: #a21420;
    padding: 20px 88px;
  }
  &__button-link {
    font-family: $font-family;
    font-weight: 400;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
  }
  &__image {
    width: 100%;
    max-width: 438px;
    height: auto;
    margin-left: 0;
    margin-bottom: 0;
  }
}

.whatsapp-button {
  width: 243px;
  height: 81px;
  border-radius: 20px;
  border: 1px solid black;
  background: #fff;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  display: flex;
  align-items: center;
  padding: 31px 20px 31px;
  padding-right: 0;

  &__text {
    font-family: $third-family;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    color: #131313;
    padding-left: 0;
  }

  &__icon {
    width: 45px;
    height: 45px;
    background: url("path/to/whatsapp-icon.svg") no-repeat center;
    margin-right: 20px;

    @media (max-width: 424px) and (min-width: 320px) {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
  }
}

@media (max-width: 1240px) and (min-width: 785px) {
  .container {
    padding: 0 30px;
  }

  .menu {
    padding-left: 45px;
    &__link {
      font-size: 0.9rem;
    }
  }

  .section {
    display: flex;
    flex-wrap: nowrap;
    &__column {
      &--left {
        transform: scale(0.8);
        width: 65%;
      }
    }

    &__title-line {
      max-width: 100%;
    }
  }

  .whatsapp-button {
    transform: scale(0.9);
  }
}

@media (max-width: 785px) {
  .container {
    padding: 0 15px;
  }

  .menu {
    display: none;
  }

  .burger {
    display: block;
  }
  .section {
    flex-direction: column;
    align-items: center;

    &__column {
      &--left,
      &--right {
        width: 100%;
        text-align: center;
        padding: 0;
      }

      &--left {
        margin-bottom: 30px;
      }
    }

    &__title-line {
      max-width: 100%;
    }
  }

  .whatsapp-button {
    transform: scale(0.7);
  }
}

@media (max-width: 424px) and (min-width: 320px) {
  .whatsapp-button {
    transform: scale(0.5);
    &__icon {
      width: 30px;
      height: 30px;
    }
  }
}
