.work-plane {
    background-color: $background-gray-color;
    color: $background-dark-color;
}
.work-plane__flex-container-for-title-and-requirements {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    margin-bottom: 90px;
}
.work-plane__flex-items-for-title {
    .flex-item-for-title {
        &__title {
            margin-bottom: 1px;
            @include title-style(
                $font-family,
                2.5rem,
                600,
                $background-dark-color,
                uppercase
            );
        }

        .red-underline {
            margin-bottom: 20px;
        }

        &__subtitle {
            font-family: $font-family;
            font-weight: 300;
            font-size: 16px;
        }
    }
}

.work-plane__flex-items-for-requirements {
    display: flex;
    gap: 10px;

    .flex-item-for-requirements {
        &__image {
            max-width: 100%;
        }

        &__text {
            .text__title {
                margin-bottom: 10px;
                font-family: $font-family;
                font-weight: 400;
                font-size: 1.25rem;
            }

            .text__list {
                font-family: $font-family;
                font-weight: 400;
                font-size: 14px;
                list-style-position: inside;

                li {
                    margin-bottom: 5px;
                }

                li:nth-child(2) {
                    text-transform: uppercase;
                }

            }
        }
    }
}

.work-plane__black-line {
    position: relative;

    .black-line {
        max-width: 100%;
        border: none;
        border-radius: 10px;
        border-top: 4px solid $background-dark-color;
    }
}

.work-plane__flex-container-for-steps {
    position: relative;
    z-index: 1;
    margin-top: -50px;
    display: flex;
    gap: 10px;
}
.work-plane__flex-items-for-steps {
    display: flex;
    flex-direction: column;
    max-width: 240px;

    .flex-item-for-steps{
        &__image {
            align-self: center;
            margin-bottom: 20px;
            width: 100px;
            height: 100px;
            background-color: $text-color;
            border: 4px solid $background-dark-color;
            border-radius: 50%;

            display: flex;
            justify-content: center;
            align-items: center;

            & img {
                max-width: 100%;
                max-height: 100%;
            }
        }

        &__number {
            align-self: center;
            @include title-style($font-family, 50px, 400, $accent-color);
        }

        &__title {
            margin-bottom: 10px;
            font-family: $font-family;
            font-weight: 600;
            font-size: 1rem;

            .title__break::before {
                content: "\A";
                white-space: pre;
            }
        }
        &__informational-text {
            margin-bottom: 70px;
            font-family: $font-family;
            font-weight: 400;
            font-size: 13px;
        }
    }
}

@media screen and (max-width: 1280px) {
    .work-plane-container {
        padding: 0 30px;
    }
}
@media (min-width: 768px) and (max-width: 940px) {
    .work-plane-container {
        padding: 30px;
    }

    .work-plane__black-line {
        display: none;
    }

    .work-plane__flex-items-for-steps {
        display: flex;
        max-width: 150px;
    }
}

@media screen and (max-width: 767px) {
    .work-plane-container {
        padding: 30px;
    }

    .work-plane__black-line {
        display: none;
    }

    .work-plane__flex-items-for-title{
        margin-bottom: 60px;
        .flex-item-for-title__subtitle{
            max-width: 300px;
            font-size: 1rem;
        }
    }

    .work-plane__flex-items-for-requirements{
        .flex-item-for-requirements__image{
            img{
                width: 100px;
            }
        }
    }

    .work-plane__flex-container-for-steps{
        display: flex;
        flex-direction: column;

        .work-plane__flex-items-for-steps{
            display: flex;
            text-align: center;
            max-width: 650px;
            margin-left: auto;
            margin-right: auto;

            .flex-item-for-steps__number{
                font-weight: 600;
            }

            .flex-item-for-steps__title{
                align-self: center;
                font-size: 2rem;
                margin-bottom: 30px;

                .title__break::before {
                    content: none; 
                }
            }

            .flex-item-for-steps__informational-text{
                align-self: center;
                font-size: 1.5rem;
                line-height: 1.5;
            }
        }
    }
}

@media (min-width: 425px) and (max-width: 670px){
    .work-plane-container {
        padding: 30px;
    }

    .work-plane__black-line {
        display: none;
    }
    .work-plane__flex-container-for-title-and-requirements{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .work-plane__flex-items-for-title{
        margin-bottom: 60px;

        .flex-item-for-title__title{
            font-size: 3rem;
        }
        .flex-item-for-title__subtitle{
            font-size: 1rem;
            display: flex;
            text-align: center;
        }
    }

    .work-plane__flex-items-for-requirements{
        align-self: self-end;
        .flex-item-for-requirements__image{
            img{
                width: 100px;
            }
        }
    }

    .work-plane__flex-container-for-steps{
        display: flex;
        flex-direction: column;

        .work-plane__flex-items-for-steps{
            display: flex;
            text-align: center;
            max-width: 650px;
            margin-left: auto;
            margin-right: auto;

            .flex-item-for-steps__number{
                font-weight: 600;
            }

            .flex-item-for-steps__title{
                align-self: center;
                font-size: 2rem;
                margin-bottom: 30px;

                .title__break::before {
                    content: none; 
                }
            }

            .flex-item-for-steps__informational-text{
                align-self: center;
                font-size: 1.5rem;
                line-height: 1.5;
            }
        }
    }
}

@media screen and (max-width: 424px) {
    .work-plane-container {
        padding: 30px;
    }

    .work-plane__black-line {
        display: none;
    }
    .work-plane__flex-container-for-title-and-requirements{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .work-plane__flex-items-for-title{
        margin-bottom: 60px;

        .flex-item-for-title__title{
            font-size: 2rem;
            display: flex;
            justify-content: center;
        }
        .flex-item-for-title__subtitle{
            font-size: 1rem;
            display: flex;
            text-align:center;
        }
    }

    .work-plane__flex-items-for-requirements{
        margin-bottom: 30px;
        .flex-item-for-requirements__image{
            img{
                width: 100px;
            }
        }
    }

    .work-plane__flex-container-for-steps{
        display: flex;
        flex-direction: column;

        .work-plane__flex-items-for-steps{
            display: flex;
            text-align: center;
            max-width: 650px;
            margin-left: auto;
            margin-right: auto;

            .flex-item-for-steps__number{
                font-weight: 600;
            }

            .flex-item-for-steps__title{
                align-self: center;
                font-size: 2rem;
                margin-bottom: 30px;

                .title__break::before {
                    content: none; 
                }
            }

            .flex-item-for-steps__informational-text{
                align-self: center;
                font-size: 1.5rem;
                line-height: 1.5;
            }
        }
    }
}
