//Переменные шрифтов//
$font-family: "Manrope", sans-serif;
$second-family: "Oswald", sans-serif;
$third-family: "Roboto", sans-serif;

//Переменные размер//
$menu-width: 647px;
$container-height: 678px;
$header-height: 60px;
$content-photo-width: 521px;
$content-text-width: 719px;
$content-button-width: 280px;
$content-button-height: 67px;
$whatsapp-button-width: 243px;
$whatsapp-button-height: 81px;
$image-width: 438px;
$icon-width-height: 45px;

//Цвета
$accent-color: #a21420; //красный
$text-color: #fff; //цвет текста
$background-dark-color: #131313; //темный
$background-gray-color: #e9e8e8;
$black-color: #000; //черный
$accent-color-hover: #b8555e; //при наведении на кнопку(можно поменять если не нравится)
$burger-color: #faf6f2;
$burger-menu-background-color: grey;

//Миксины
//Миксин для заголовков для красного и для белого
@mixin title-style(
  $font-family,
  $font-size,
  $font-weight,
  $color,
  $text-transform: none
) {
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
  text-transform: $text-transform;
  color: $color;
}
