$font-family: "Manrope", sans-serif;
$second-family: "Oswald", sans-serif;
$third-family: "Roboto", sans-serif;

$accent-color: #a21420; 
$text-color: #fff; 
$background-dark-color: #131313;
$background-gray-color: #e9e8e8;
$black-color: #000; 
$accent-color-hover: #b8555e; 
$burger-color: #faf6f2;
$burger-menu-background-color: grey;

@mixin title-style(
  $font-family,
  $font-size,
  $font-weight,
  $color,
  $text-transform: none
) {
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
  text-transform: $text-transform;
  color: $color;
}
