@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html,
body {
  font-family: #A21420;
  font-size: 16px;
}

.container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: inline-block;
  border-radius: 10px;
  padding: 20px 88px;
  width: 280px;
  height: 67px;
  background-color: #A21420;
  cursor: pointer;
  line-height: 100%;
  font-weight: 600;
  color: #fff;
  font-size: 20px;
  transition: background-color 0.2s, ease-in;
}
.button:hover {
  background-color: #b8555e;
}

.about {
  background-image: url(/images/about/bg-photo.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.about__flex-container {
  display: flex;
  justify-content: flex-end;
}

.about__flex-items .flex-item__title-for-about {
  padding-top: 80px;
  margin-bottom: 50px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  text-transform: none;
  color: #A21420;
}
.about__flex-items .flex-item__text-for-about {
  max-width: 524px;
  line-height: 1.6;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}

.flex-item__text-for-about:not(:nth-child(5)) {
  margin-bottom: 25px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .about {
    padding: 0 30px;
    background-image: none;
    background: linear-gradient(to right, #131313, #565656);
  }
  .about__flex-container {
    display: flex;
    justify-content: center;
  }
  .about__flex-items .flex-item__title-for-about {
    font-size: 3rem;
    text-align: center;
  }
  .about__flex-items .flex-item__text-for-about {
    max-width: 1160px;
  }
  .about__flex-items .flex-item__text-for-about:not(:nth-child(5)) {
    margin-bottom: 30px;
  }
}
@media (min-width: 425px) and (max-width: 768px) {
  .about {
    padding: 0 30px 30px 30px;
    background-image: none;
    background: linear-gradient(to right, #131313, #565656);
  }
  .about__flex-container {
    display: flex;
    justify-content: center;
  }
  .about__flex-items .flex-item__title-for-about {
    font-size: 3rem;
    text-align: center;
  }
  .about__flex-items .flex-item__text-for-about {
    max-width: 840px;
    margin-bottom: 30px;
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 424px) {
  .about {
    padding: 0 30px 30px 30px;
    background-image: none;
    background: linear-gradient(to right, #131313, #565656);
  }
  .about__flex-container {
    display: flex;
    justify-content: center;
  }
  .about__flex-items .flex-item__title-for-about {
    font-size: 3rem;
    text-align: center;
  }
  .about__flex-items .flex-item__text-for-about {
    max-width: 840px;
    margin-bottom: 30px;
    font-size: 1.6rem;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html,
body {
  font-family: #A21420;
  font-size: 16px;
}

.container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: inline-block;
  border-radius: 10px;
  padding: 20px 88px;
  width: 280px;
  height: 67px;
  background-color: #A21420;
  cursor: pointer;
  line-height: 100%;
  font-weight: 600;
  color: #fff;
  font-size: 20px;
  transition: background-color 0.2s, ease-in;
}
.button:hover {
  background-color: #b8555e;
}

.wrapper {
  background: linear-gradient(193deg, #1f1f1f 0%, #131313 100%);
}

.container {
  min-height: 678px;
}

.header {
  max-height: 60px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  width: 647px;
  margin-top: 1.25rem;
  list-style: none;
}
.menu__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
}
.menu__link:hover {
  color: #b8555e;
}

.burger {
  display: none;
}
.burger__icon {
  width: 80px;
  height: 80px;
}

.section {
  display: flex;
  flex-wrap: wrap;
}
.section__column--left {
  max-width: 719px;
  align-content: center;
}
.section__column--right {
  max-width: 521px;
}
.section__subtitle {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 1.25rem;
  margin-bottom: 10px;
}
.section__title {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  color: #fff;
  margin-bottom: 1px;
}
.section__title-line {
  stroke-width: 5px;
  stroke: #a21420;
  margin-bottom: 20px;
}
.section__paragraph {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 20px;
}
.section__button {
  width: 280px;
  height: 67px;
  border-radius: 10px;
  border: none;
  background: #a21420;
  padding: 20px 88px;
}
.section__button-link {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
}
.section__image {
  width: 100%;
  max-width: 438px;
  height: auto;
  margin-left: 0;
  margin-bottom: 0;
}

.whatsapp-button {
  width: 243px;
  height: 81px;
  border-radius: 20px;
  border: 1px solid black;
  background: #fff;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  display: flex;
  align-items: center;
  padding: 31px 20px 31px;
  padding-right: 0;
}
.whatsapp-button__text {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  color: #131313;
  padding-left: 0;
}
.whatsapp-button__icon {
  width: 45px;
  height: 45px;
  background: url("path/to/whatsapp-icon.svg") no-repeat center;
  margin-right: 20px;
}
@media (max-width: 424px) and (min-width: 320px) {
  .whatsapp-button__icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
}

@media (max-width: 1240px) and (min-width: 785px) {
  .container {
    padding: 0 30px;
  }
  .menu {
    padding-left: 45px;
  }
  .menu__link {
    font-size: 0.9rem;
  }
  .section {
    display: flex;
    flex-wrap: nowrap;
  }
  .section__column--left {
    transform: scale(0.8);
    width: 65%;
  }
  .section__title-line {
    max-width: 100%;
  }
  .whatsapp-button {
    transform: scale(0.9);
  }
}
@media (max-width: 785px) {
  .container {
    padding: 0 15px;
  }
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .section {
    flex-direction: column;
    align-items: center;
  }
  .section__column--left, .section__column--right {
    width: 100%;
    text-align: center;
    padding: 0;
  }
  .section__column--left {
    margin-bottom: 30px;
  }
  .section__title-line {
    max-width: 100%;
  }
  .whatsapp-button {
    transform: scale(0.7);
  }
}
@media (max-width: 424px) and (min-width: 320px) {
  .whatsapp-button {
    transform: scale(0.5);
  }
  .whatsapp-button__icon {
    width: 30px;
    height: 30px;
  }
}
.work-plane {
  background-color: #E9E8E8;
  color: #131313;
}

.work-plane__flex-container-for-title-and-requirements {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  margin-bottom: 90px;
}

.work-plane__flex-items-for-title .flex-item-for-title__title {
  margin-bottom: 1px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #131313;
}
.work-plane__flex-items-for-title .flex-item-for-title__underline {
  margin-bottom: 20px;
  max-width: 363px;
  border: none;
  border-radius: 10px;
  border-top: 5px solid #A21420;
}
.work-plane__flex-items-for-title .flex-item-for-title__subtitle {
  font-family: "Manrope", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.work-plane__flex-items-for-requirements {
  display: flex;
  gap: 10px;
}
.work-plane__flex-items-for-requirements .flex-item-for-requirements__image {
  max-width: 100%;
}
.work-plane__flex-items-for-requirements .flex-item-for-requirements__text .text__title {
  margin-bottom: 10px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
}
.work-plane__flex-items-for-requirements .flex-item-for-requirements__text .text__list {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  list-style-position: inside;
}
.work-plane__flex-items-for-requirements .flex-item-for-requirements__text .text__list li {
  margin-bottom: 5px;
}
.work-plane__flex-items-for-requirements .flex-item-for-requirements__text .text__list li:nth-child(2) {
  text-transform: uppercase;
}

.work-plane__black-line {
  position: relative;
}
.work-plane__black-line .black-line {
  max-width: 100%;
  border: none;
  border-radius: 10px;
  border-top: 4px solid #131313;
}

.work-plane__flex-container-for-steps {
  position: relative;
  z-index: 1;
  margin-top: -50px;
  display: flex;
  gap: 10px;
}

.work-plane__flex-items-for-steps {
  display: flex;
  flex-direction: column;
  max-width: 240px;
}
.work-plane__flex-items-for-steps .flex-item-for-steps__image {
  align-self: center;
  margin-bottom: 20px;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border: 4px solid #131313;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.work-plane__flex-items-for-steps .flex-item-for-steps__image img {
  max-width: 100%;
  max-height: 100%;
}
.work-plane__flex-items-for-steps .flex-item-for-steps__number {
  align-self: center;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 50px;
  text-transform: none;
  color: #A21420;
}
.work-plane__flex-items-for-steps .flex-item-for-steps__title {
  margin-bottom: 10px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 1rem;
}
.work-plane__flex-items-for-steps .flex-item-for-steps__title .title__break::before {
  content: "\a";
  white-space: pre;
}
.work-plane__flex-items-for-steps .flex-item-for-steps__informational-text {
  margin-bottom: 70px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 13px;
}

@media screen and (max-width: 1280px) {
  .work-plane-container {
    padding: 0 30px;
  }
}
@media (min-width: 768px) and (max-width: 940px) {
  .work-plane-container {
    padding: 30px;
  }
  .work-plane__black-line {
    display: none;
  }
  .work-plane__flex-items-for-steps {
    display: flex;
    max-width: 150px;
  }
}
@media screen and (max-width: 767px) {
  .work-plane-container {
    padding: 30px;
  }
  .work-plane__black-line {
    display: none;
  }
  .work-plane__flex-items-for-title {
    margin-bottom: 60px;
  }
  .work-plane__flex-items-for-title .flex-item-for-title__subtitle {
    max-width: 300px;
    font-size: 1rem;
  }
  .work-plane__flex-items-for-requirements .flex-item-for-requirements__image img {
    width: 100px;
  }
  .work-plane__flex-container-for-steps {
    display: flex;
    flex-direction: column;
  }
  .work-plane__flex-container-for-steps .work-plane__flex-items-for-steps {
    display: flex;
    text-align: center;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
  }
  .work-plane__flex-container-for-steps .work-plane__flex-items-for-steps .flex-item-for-steps__number {
    font-weight: 600;
  }
  .work-plane__flex-container-for-steps .work-plane__flex-items-for-steps .flex-item-for-steps__title {
    align-self: center;
    font-size: 2rem;
    margin-bottom: 30px;
  }
  .work-plane__flex-container-for-steps .work-plane__flex-items-for-steps .flex-item-for-steps__title .title__break::before {
    content: none;
  }
  .work-plane__flex-container-for-steps .work-plane__flex-items-for-steps .flex-item-for-steps__informational-text {
    align-self: center;
    font-size: 1.5rem;
    line-height: 1.5;
  }
}
@media (min-width: 425px) and (max-width: 670px) {
  .work-plane-container {
    padding: 30px;
  }
  .work-plane__black-line {
    display: none;
  }
  .work-plane__flex-container-for-title-and-requirements {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .work-plane__flex-items-for-title {
    margin-bottom: 60px;
  }
  .work-plane__flex-items-for-title .flex-item-for-title__title {
    font-size: 3rem;
  }
  .work-plane__flex-items-for-title .flex-item-for-title__subtitle {
    font-size: 1rem;
    display: flex;
    text-align: center;
  }
  .work-plane__flex-items-for-requirements {
    align-self: self-end;
  }
  .work-plane__flex-items-for-requirements .flex-item-for-requirements__image img {
    width: 100px;
  }
  .work-plane__flex-container-for-steps {
    display: flex;
    flex-direction: column;
  }
  .work-plane__flex-container-for-steps .work-plane__flex-items-for-steps {
    display: flex;
    text-align: center;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
  }
  .work-plane__flex-container-for-steps .work-plane__flex-items-for-steps .flex-item-for-steps__number {
    font-weight: 600;
  }
  .work-plane__flex-container-for-steps .work-plane__flex-items-for-steps .flex-item-for-steps__title {
    align-self: center;
    font-size: 2rem;
    margin-bottom: 30px;
  }
  .work-plane__flex-container-for-steps .work-plane__flex-items-for-steps .flex-item-for-steps__title .title__break::before {
    content: none;
  }
  .work-plane__flex-container-for-steps .work-plane__flex-items-for-steps .flex-item-for-steps__informational-text {
    align-self: center;
    font-size: 1.5rem;
    line-height: 1.5;
  }
}
@media screen and (max-width: 424px) {
  .work-plane-container {
    padding: 30px;
  }
  .work-plane__black-line {
    display: none;
  }
  .work-plane__flex-container-for-title-and-requirements {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .work-plane__flex-items-for-title {
    margin-bottom: 60px;
  }
  .work-plane__flex-items-for-title .flex-item-for-title__title {
    font-size: 2rem;
    display: flex;
    justify-content: center;
  }
  .work-plane__flex-items-for-title .flex-item-for-title__subtitle {
    font-size: 1rem;
    display: flex;
    text-align: center;
  }
  .work-plane__flex-items-for-requirements {
    margin-bottom: 30px;
  }
  .work-plane__flex-items-for-requirements .flex-item-for-requirements__image img {
    width: 100px;
  }
  .work-plane__flex-container-for-steps {
    display: flex;
    flex-direction: column;
  }
  .work-plane__flex-container-for-steps .work-plane__flex-items-for-steps {
    display: flex;
    text-align: center;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
  }
  .work-plane__flex-container-for-steps .work-plane__flex-items-for-steps .flex-item-for-steps__number {
    font-weight: 600;
  }
  .work-plane__flex-container-for-steps .work-plane__flex-items-for-steps .flex-item-for-steps__title {
    align-self: center;
    font-size: 2rem;
    margin-bottom: 30px;
  }
  .work-plane__flex-container-for-steps .work-plane__flex-items-for-steps .flex-item-for-steps__title .title__break::before {
    content: none;
  }
  .work-plane__flex-container-for-steps .work-plane__flex-items-for-steps .flex-item-for-steps__informational-text {
    align-self: center;
    font-size: 1.5rem;
    line-height: 1.5;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html,
body {
  font-family: #A21420;
  font-size: 16px;
}

.container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: inline-block;
  border-radius: 10px;
  padding: 20px 88px;
  width: 280px;
  height: 67px;
  background-color: #A21420;
  cursor: pointer;
  line-height: 100%;
  font-weight: 600;
  color: #fff;
  font-size: 20px;
  transition: background-color 0.2s, ease-in;
}
.button:hover {
  background-color: #b8555e;
}

.clients {
  background-color: #E9E8E8;
  color: #131313;
}
.clients .container {
  min-height: 478px;
}
.clients .container .clients-container__flex-items-for-title {
  padding-top: 70px;
}
.clients .container .clients-container__flex-items-for-title .flex-item-for-title__title {
  margin-bottom: 1px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  text-transform: none;
  color: #131313;
}
.clients .container .clients-container__flex-items-for-title .flex-item-for-title__title-line {
  stroke-width: 5px;
  stroke: #a21420;
  margin-bottom: 20px;
}
.clients .container .clients-container__flex-items-logos {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
  align-items: center;
}

@media screen and (max-width: 1280px) {
  .clients-container {
    padding: 30px;
  }
}
@media screen and (max-width: 670px) {
  .clients-container__flex-items-for-title {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 391px) and (max-width: 2560px) {
  .clients-container__flex-items-logos {
    padding: 60px;
  }
}
@media screen and (max-width: 380px) {
  .clients-container__flex-items-logos {
    padding: 60px 0px 0px 0px;
  }
}/*# sourceMappingURL=style.css.map */